rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /jugadores/{jugadorId} {
      allow read: if true;
      allow write: if true;
    }

    match /partidos_eliminatoria/{partidoId} {
      allow read: if true;
      allow write: if true;
    }

    match /cuartos/{cuartoId} {
      allow read: if true;
      allow write: if true;
    }

    match /semifinales/{semiId} {
      allow read: if true;
      allow write: if true;
    }

    match /final/{finalId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
